@media only screen and (max-width: 600px) {
  .notification-container {
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    max-height: fit-content;
  }

  .notification {
    display: flex;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text-container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .notification-container {
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 68px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    max-width: fit-content;
  }

  .notification {
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    padding: 12px;
    width: 550px;
    border-radius: 6px;
  }

  .text-container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}

.filled-danger {
  background: #eb5757;
  border: 1px solid #eb5757;
  box-shadow: 0px 2px 26px 0px #d700001a;
  color: #ffffff;
}

.filled-danger .close path {
  fill: #ffffff;
}

.filled-warning {
  background-color: #f2c94c;
  border: 1px solid #f2c94c;
  box-shadow: 0px 2px 26px 0px #d700001a;
  color: #6e5404;
}

.filled-warning .close path {
  fill: #866912;
}

.filled-success {
  background: #6fcf97;
  border: 1px solid #6fcf97;
  color: #0f552c;
  box-shadow: 0px 2px 26px rgba(82, 215, 0, 0.1);
}

.filled-success .close path {
  fill: #0f552c;
}

.outlined-danger {
  background: #ffffff;
  border: 1px solid #eb5757;
  box-shadow: 0px 2px 26px rgba(215, 0, 0, 0.1);
}

.outlined-danger .close path {
  fill: #828282;
}

.outlined-warning {
  background: #ffffff;
  border: 1px solid #f2c94c;
  box-shadow: 0px 2px 26px rgba(215, 0, 0, 0.1);
}

.outlined-warning .close path {
  fill: #828282;
}

.outlined-success {
  background: #ffffff;
  border: 1px solid #6fcf97;
  box-shadow: 0px 2px 26px rgba(82, 215, 0, 0.1);
}

.outlined-success .close path {
  fill: #828282;
}

.icon-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 8px 0;
  justify-content: start;
}

.title {
  height: 20px;
  margin-bottom: 4px;
  font-family: Monserrat-bold;
}

.text {
  min-height: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}

.close {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.close svg {
  cursor: pointer;
}

.notifications-amount {
  width: 43px;
  height: 26px;
  position: absolute;
  background: #f2c94c;
  border-radius: 40px;
  top: 6px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  padding: 0 10px;
  box-sizing: border-box;
}
