body {
  margin: 0;
  font-family: Monserrat, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Monserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Monserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Monserrat-bold';
  font-style: bold;
  font-weight: bold;
  src: local('Monserrat-bold'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}



