.button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #005fc5;
}
